@font-face{
	font-family: Font A;
	src: url('Pacifico-Regular.ttf');
}
*{
		
}
body{
	background-image: url(planet-1702788_1920.jpg);
	background-size: cover;
}
.awal{
	background-image: url(Polygon-3.jpg);
	background-size: cover;
	border: 2px solid #e46231; 
	margin-top: 15%;
	margin-left: 20%;
	height: 200px;
	width: 800px;
	text-align: ;
	border-radius: 100px;
}
.hehe{
	font-family: Font A;
	font-weight: bold;
	text-align: center;
	padding-top: 40px;
	font-size: 20pt;
}
.pepe{
	font-family: Font A;
	font-weight: bold;
	text-align: center;
}